@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 auto;
}

header {
  background-image: url('/img/header-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;

}

.navbar {
  display: none;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  padding-top: 5px;
}

.nav-links a:hover {
  border-top: 1px solid #000000;
}

main {
  padding: 40px 20px;
}

/* Fonts */

h1 {
  font-family: 'Darumadrop One', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  margin: 0px;
}

h2,
h3,
h4 {
  font-family: 'Darumadrop One', Helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin: -60px 0px 10px 0px;

}

p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}


/* makes the parent container a grid */
.grid-parent {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* how the cards span on mobile*/
.grid-1,
.grid-2,
.grid-3 {
  grid-column: span 4;
}


/* using flex within the container */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.card-img {
  width: 100%;
}

.container {
  padding: 2px 16px;
}

.button {
  width: 70px;
}

footer h4 {
  margin: 0px;
}

footer {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-image: url('/img/footer-img.jpg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 20px 40px;
}


@media (min-width: 667px) {

  header {
    height: 500px;
  }

  .navbar {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links a {
    margin-left: 20px;
  }

  main {
    padding: 60px 20px 80px;
  }

  .grid-parent {
    padding: 20px;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }

  .grid-1,
  .grid-2 {
    grid-column: span 6;
  }

  .grid-3 {
    grid-column: span 3;
  }

  h2,
  h3 {
    font-size: 35px;
    margin: -50px 0px 10px 0px;
  }

  footer p {
    width: 50%;
  }
}

@media (min-width: 668px) and (max-width: 1024px) {

  header {
    height: 400px;

  }

  .grid-parent {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .grid-1,
  .grid-2,
  .grid-3 {
    grid-column: span 2;
  }

  footer p {
    width: 80%;
  }

}

@media (min-width: 1201px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}